* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fafaf9;
}

nav {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: larger;
  padding: 20px;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #fafaf9;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #01558a;
  transition: transform 0.3s ease;
  transition: color 0.3s ease 2s;
}

.logo:hover {
  transform: scale(1.02);
  /* font-size: 33px; */
  /* font-weight: 750; */
  color: #01558a;
}

nav ul {
  /* background-color: beige; */
  display: flex;
  align-items: center;
  gap: 28px;
  font-size: 18px;
  color: #353935;
}

nav ul li {
  list-style: none;
}

nav ul button {
  background-color: #e7e7e7;
  padding: 5px;
  font-size: 16px;
  color: #353935;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px #35393586;
  border: none;
}

nav ul button img {
  height: 22px;
}

.home,
.about {
  min-height: 70vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 40px;
  align-items: center;
  gap: 23px;
  /* background-color: rgb(223, 165, 165); */
}

.home .first {
  max-width: 700px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.home .image {
  /* border: 2px solid green; */
}

.home .image img {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  border: 4px solid rgba(32, 110, 187, 0.179);
  height: 400px;
  width: 400px;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

.home .image img:hover {
  transform: scale(1.03);
}

.home .first .name {
  margin-top: 12px;
  /* border: 2px solid brown; */
}

.home .first .name span {
  color: #00416a;
  font-weight: 800;
  font-size: 28px;
  padding: 4px 6px;
  /* border: 2px solid green; */
  border-radius: 12px;
  background-color: #78c9fc33;
  display: inline-block;
}

.home .first .title {
  /* border: 2px solid green; */
  color: #4b4e4b;
  font-size: 60px;
  font-weight: 500;
  margin-top: 8px;
}

.home .first .desc {
  font-size: 18px;
  /* border: 2px solid black; */
  color: #353935;
  /* max-width: 90%; */
  text-align: justify;
  margin-top: 70px;
  line-height: 1.6;
}

.home .first .buttons {
  display: flex;
  /* border: 2px solid green; */
  gap: 20px;
  margin-top: 20px;
}

.home .first .buttons button {
  padding: 15px 40px;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  background-color: #00416a;
  color: white;
  transition: translate 0.3s ease-out;
}

.home .first .buttons button:hover {
  translate: 0px -2px;
  background-color: #01558a;
}

.home .first .logos img {
  transition: translate 0.3s ease-out;
}

.home .first .logos img:hover {
  translate: 0px -2px;
}

.home .first .logos {
  display: flex;
  margin-top: 58px;
  gap: 20px;
}

.home .first .logos img {
  height: 52px;
  border-radius: 82px;
  /* border: 2px solid green; */
}

li:hover,
button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:link {
  color: #353935;
  /* Styles for unvisited links */
}

a:visited {
  color: #353935;
  /* Styles for visited links */
}

a:hover {
  color: #00416a;
  font-weight: 500;
  /* Styles when hovering over a link */
}

a:active {
  color: #00416a;
  /* Styles when a link is being clicked */
}

nav {
  box-shadow: 0px 1px 5px #35393586;
}

.lines img {
  visibility: hidden;
  height: 30px;
  cursor: pointer;
  position: absolute;
}

nav ul li img {
  height: 32px;
  visibility: hidden;
  position: absolute;
}
  .columns {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: start;
  }

  .about h2 {
    /* border: 2px solid red; */
    margin: 0;
    padding: 0;
  }
  .about{
    padding: 0;
  }
  .about .desc {
    /* border: 2px solid red; */
    max-width: 70%;
    text-align: left;
    margin-top: 0px;
  }
  .card {
    background-color: rgba(166, 201, 223, 0.27);
    padding: 20px;
    width: 70%;
    line-height: 1.5;
    border-radius: 8px;
    box-shadow: 1px 2px 4px rgb(16 11 11 / 23%);
   
  }
  .card-heading {
    font-size: 20px;
    font-weight: 700;
    color: #00416a;
    margin-bottom: 14px;
  }
  .card-subheading {
    font-size: 16px;
    color: #000200;
  }
  .card-content {
    font-size: 16px;
    color: #6f716f;
  }
  .card ul li {
    margin-left: 20px;
  }
  .qualifications .card-heading {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .qualifications .card {
    max-width: 70%;
    
  }
  .skills{
    font-size: 15px;
    color:#353935;
    margin-top: 12px;
  }
  .capsules{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  .capsule{
    /* border: 2px solid blue; */
    background-color: #69b9eb89;
    color: #00416a;
    border-radius: 3px;
    padding: 0px 3px;
    font-size: 12px;
    font-weight: 600;
  }
  .about .card{
    background-color: #ffffff;
    min-width:200px;
    width: 40%;
  }
  .about .card-heading{
    font-weight: 500;
  }
  .cards{
    display: flex;
    gap: 30px;
    max-width: 70%;
    flex-wrap: wrap;
    justify-content: center;
  }
   .about .capsule{
    background-color: white;
    font-size: 16px;
    color: #353935;
    border: 2px solid #353935;
    border-radius: 20px;
    padding: 2px 10px;
   } 

@media screen and (max-width: 900px) {
  nav {
    justify-content: space-between;
  }

  .lines img {
    position: relative;
    visibility: visible;
  }

  .logo {
    font-size: 24px;
  }

  .menu {
    /* visibility:hidden; */
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    display: grid;
    width: 150px;
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #ffffff;
    padding: 25px 20px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    justify-content: flex-start;
  }

  .menu.active {
    transform: translateX(0%);
  }

  .home {
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }

  .home .first {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home .image {
    /* border: 2px solid red; */
    /* margin-bottom: 0px; */
  }

  .home .image img {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
    border: 4px solid rgba(32, 110, 187, 0.179);
    height: 260px;
    width: 260px;
    border-radius: 100%;
    transition: transform 0.3s ease;
  }

  .home .image img:hover {
    transform: scale(1.03);
  }

  .home .first .name {
    /* border: 2px solid green; */
    margin-top: 0px;
  }

  .home .first .name span {
    color: #00416a;
    font-weight: 700;
    font-size: 31px;
    padding: 4px 32px;
    /* border: 2px solid green; */
    border-radius: 12px;
    background-color: #78c9fc33;
    display: inline-block;
  }

  .home .first .title {
    /* border: 2px solid green; */
    color: #4b4e4b;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
  }

  .desc {
    font-size: 18px;
    /* border: 2px solid black; */
    color: #353935;
    max-width: 90%;
    text-align: center;
    margin-top: 30px;
    line-height: 1.6;
  }

  .home .first .buttons {
    display: flex;
    /* border: 2px solid green; */
    gap: 12px;
    margin: 18px;
  }

  .home .first .buttons button {
    padding: 13px 30px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    background-color: #00416a;
    color: white;
    transition: translate 0.3s ease-out;
  }

  .home .first .buttons button:hover {
    translate: 0px -2px;
    background-color: #01558a;
  }

  .home .first .logos {
    display: flex;
    /* justify-content: center; */
    /* margin: 52px; */
    gap: 15px;
  }

  .home .first .logos img {
    height: 52px;
    border-radius: 50%;
    /* border: 2px solid green; */
  }

  nav ul .back img {
    position: relative;
  }

  nav ul li img {
    visibility: visible;
  }

}
